<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="javascripts/happiness.js"></script>
  </body>
</html>
